*{
	font-family: 'Itim', cursive;
}
#header-nav{
	
	margin:0px;
}
#header-nav h1{
	margin-left:25px;
	margin-top:0px;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:30px;
	
}
#header-nav button span{
	background-color:black;
}
.navbar-header h1{
	float:left;
}
.navbar-header{
	background-color:gray;
	width:100%;
}
#nav-list a{
	border:5px;
	color: #000000
}
#collapsable-nav{
	clear:all;
	position:relative;
}
#collapsable-nav a{
	margin:0px;
	border:1px solid black;
	text-align:center;
	font-size:1.5em;
	text-decoration-color: #000000

}
#collapsable-nav a:hover{
	background-color:gray;
}

#Chicken{
	background-color: gray;
	margin:10px;
	padding:10px;
	font-size:1.5em;
}
h2{
	text-align:center;
}
.menu-title{
	text-align:center;
	font-weight:bolder;
}

.container{
	width: 100%;
	clear:all;
}
@media(max-width:768px){
	#Chicken{
		width:75%;
		margin:auto;
	}
}
